@import 'styles/colors.scss';

.am-side-navbar {
    position: fixed;
    width: 10em;
    top: 0;
    right: -15em;
    z-index: 100;
    background-color: $tertiary-light;
    height: 100vh;
    width: 15em;
    transition: right 0.6s;

    &--active{
        right: 0;
    }

    &__close{
        float: right;
        margin-top: 1em;
        margin-right: 2em;
        > svg{
            transition:all 0.2s ease-in-out !important;

            &:hover{
                transform: rotate(45deg);
            }
        }
    }

    &__options{
        padding-top: 3em;
        li {
            padding: 1em;
            font-size: 1.4em;
            text-align: center;
        }

        li:hover{

        }
    }
}