// $primary-dark: #010101;
// $primary-light: #EE1D52;

// $secondary-dark: #FFFFFF;
// $secondary-light: #69C9D0;

// $tertiary: #69C9D0;

$primary-light: #e10086;
$secondary-light: #90dcff;
$tertiary-light: #fdfb76;

$primary-dark: #18171a;
$secondary-dark: #0c0b0d;