@import 'styles/colors.scss';
@import 'styles/sizes.scss';

* {
    font-family: 'Work Sans', sans-serif;
}



.am-page {
    background-color: $secondary-dark;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    &__content{
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        padding: 1em;
        text-shadow: 0 0 30px black;
    }
}

.am-page:nth-child(even) {
    background-color: $primary-dark;
}

.am-page-wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    
    max-height: 900px;
    width: calc(100% - 100px);
    color: #fff;
}

h1 {
    font-size: $small-font-size;
    color: $primary-light;
}

h2 {
    font-size: $medium-font-size;
    color: $secondary-light;
}

h3 {
    font-size: $big-font-size;
    color: $tertiary-light;
}

h1,h2,h3{
    margin: 1vh 0 1vh 0;
}

.contact-stick-top{
    position: absolute;
    top: 12vh;
    left: -20em;
    background-color: $tertiary-light;
    color: $secondary-dark;
    width: fit-content;
    padding: 0 1em 0 1em;
    transition: left 1s;

    &--active{
        left: 0;
    }
}

.contact-stick-bot{
    position: absolute;
    bottom: 12vh;
    right: -20em;
    background-color: $tertiary-light;
    color: $secondary-dark;
    width: fit-content;
    padding: 0 1em 0 1em;
    transition: right 0.7s;

    &--active{
        right: 0;
    }
}